﻿/* Styles used by the TinyMCE editor */

h2.section-heading {ChangeElementType:true; EditMenuName:Header 2;}
blockquote {EditMenuName:Blockquote;}
span.caption { ChangeElementType:true; EditMenuName:Caption; color: #777;}
