﻿<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
@model EpiserverStartBootstrap.Models.Pages.BlogPostPage

<!-- <header class="intro-header" style="background-image: url('img/home-bg.jpg')"> -->
<header class="intro-header" style="background-image: url(@Url.ContentUrl(Model.HeaderImageUrl))">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@Html.PropertyFor(m => m.Header)</h1>
                    <h2 class="subheading">@Html.PropertyFor(m => m.SubHeader)</h2>
                    <span class="meta">Posted by <a href="#">@Model.Author</a> on @Model.PostTime</span>
                </div>
            </div>
        </div>
    </div>
</header>
