﻿@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EpiserverStartBootstrap.Models.Blocks.BlogPostBlock

<div class="post-preview">
    <a href="@Url.ContentUrl(Model.Post)">
        <h2 class="post-title">
            @Html.PropertyFor(m => m.Title)
        </h2>
        <h3 class="post-subtitle">
            @Html.PropertyFor(m => m.Subtitle)
        </h3>
    </a>
    <p class="post-meta">Posted by <a href="#">@Html.PropertyFor(m => m.Author)</a> on @Html.PropertyFor(m => m.PostTime)</p>
</div>
<hr>