﻿@using EPiServer.Web
@using EpiserverStartBootstrap.Helpers
@model EpiserverStartBootstrap.Models.Pages.SitePageData

<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            @Html.ContentLink("Start Bootstrap", SiteDefinition.Current.StartPage, null, new { @class = "navbar-brand" })
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ContentLink("Home", SiteDefinition.Current.StartPage)
                </li>
                @foreach (var page in Html.ChildPages(SiteDefinition.Current.StartPage))
                {
                <li>
                    @Html.ContentLink(page)
                </li>
                }
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>