﻿@using System.Web.Mvc.Html
@using System.Web.Optimization;

@model EpiserverStartBootstrap.Models.Pages.SitePageData

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>@Model.Title</title>

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
</head>
<body>
    @{
        Html.RenderPartial("Navbar");
        Html.RenderPartial("Header");
    }
    <div class="container">
        @RenderBody()
    </div>
    @{
        Html.RenderPartial("Footer");
    }
</body>
</html>
