﻿@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EpiserverStartBootstrap.Models.Pages.BlogPostPage

@{
    Layout = "~/Views/Shared/Layouts/_BlogPostLayout.cshtml";
}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        @Html.PropertyFor(m => m.MainBody)
    </div>
</div>