﻿@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EpiserverStartBootstrap.Models.Pages.ContactPage

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        @Html.PropertyFor(m => m.MainBody)

        @using (Html.BeginForm("Submit", "ContactPage"))
        {
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Name</label>
                    @*<input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">*@
                    @Html.TextBoxFor(m => m.ContactName, new { @class="form-control", placeholder="Name", id="name", required="required", data_validation_required_message="Please enter your name."})
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Email Address</label>
                    @*<input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">*@
                    @Html.TextBoxFor(m => m.Email, new { @class="form-control", placeholder="Email Address", id="email", required="required", data_validation_required_message="Please enter your email address."})
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Phone Number</label>
                    @*<input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">*@
                    @Html.TextBoxFor(m => m.Phone, new { type="tel", @class="form-control", placeholder="Phone Number", id="phone", required="required", data_validation_required_message="Please enter your phone number."})
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Message</label>
                    @*<textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>*@
                    @Html.TextAreaFor(m => m.Message, new { rows="5", @class="form-control", placeholder="Message", id="message", required="required", data_validation_required_message="Please enter a message."})
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-default">Send</button>
                </div>
            </div>
        }
    </div>
</div>
