﻿@{
    Layout = null;
}

@model EpiserverStartBootstrap.Models.Pages.SettingsPage

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Settings</title>
</head>
<body>
    <div> 
        <h3>Site Name</h3>
        @Html.PropertyFor(m => m.SiteName)
    </div>
</body>
</html>
